
/** MASTER FNA MOBILE **/
#s4-workspace{
    width:100% !important;
}
#s4-bodyContainer{
    width: 100% !important;
}
#mainContentFNAMobile{
    padding:25px;
}
#mainNav, .footer-mobile-menu, .header-mobile-menu,#breadcrumb{
    display:none;
}
#headerNav{
    width:100%;
}
.left-column, .middle-column, .right-column{
    width: 33%;
}
.left-column label {
    color: #3f9c35;
    margin-left: -99px;
    font-weight: bold;
    font-style: italic;
    font-size: 2.4em;
}
.left-column{
    float:left;
}
.middle-column{
    float:left;
}
.right-column{
    float:right;
}
#logo_fna_mobile {
    height: 80px;
    width: 298px;
    margin-top: 4px;
}
#bt_toggle_menu {
    height: 100px;
    width: 100px;
    margin-top: -16px;
    margin-left: 10px;
    margin-bottom: 21px;
}
#icon_annuaire {
    width: 70px;
    height: 70px;
    margin-bottom: 27px;
    margin-left: 10px;
}
.right-column label {
    font-weight: 500;
    margin-left: -111px;
    font-size: 2.4em;
}
.right-column a label{
    color: #5ca3ff;
    font-style: italic;
}
#mainNav ul li.static, li.static > a{
    height: auto !important;
}
#mainNav ul.root{
    background-color: #3f9c35;
    padding:10px;
}
#mainNav ul.root li.static a span > span {
    font-size: 48px !important;
}
#mainNav.type1 ul li ul.submenu li a{
    width: 100%;
}
#mainNav ul.root li.dynamic-children, #mainNav ul.root li.static {
    border-bottom: 1px dotted white !important;
    margin: 8px !important;
    font-size: 3.0em;
}
#mainNav ul.submenu .dynamic span.menu-item-text {
    margin-left: 25px;
}
#mainNav ul.root li.static:last-child{
    border-bottom:0px !important;
}
#mainNav span.menu-item-text {
    font-size: 58px;
}
#mainNav ul{
    float: none !important;
}
#mainNav ul:hover ul{
    display:none;
}
#mainNav .ms-core-listMenu-horizontalBox{
    display:block;
}
#DeltaTopNavigation{
    display:block;
    position:relative;
    float:none;
}
#mainNav ul li ul.submenu, #mainNav ul li:hover ul.submenu{
    width:100% !important;
}

#mainNav,
#mainNav ul,
#mainNav ul li,
#mainNav ul li a {
    margin: 0 !important;
    border: 0 !important;
    list-style: none !important;
    top: 0px !important;
    left: 0px !important;
    display: block;
    font-family: inherit;
    text-align:left;
    position: relative !important;
    background-color: #3f9c35 !important;
}
#mainNav {
    width: 100%;
    color: #ffffff;
}
#mainNav ul ul {
    display: none;
}
.align-right {
    float: right !important;
}

#mainNav > ul > li > a {
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background: #36aae7;
    background: -webkit-linear-gradient(#36aae7, #1fa0e4);
    background: -moz-linear-gradient(#36aae7, #1fa0e4);
    background: -o-linear-gradient(#36aae7, #1fa0e4);
    background: -ms-linear-gradient(#36aae7, #1fa0e4);
    background: linear-gradient(#36aae7, #1fa0e4);
}
#mainNav > ul > li > a:hover,
#mainNav > ul > li.active > a,
#mainNav > ul > li.open > a {
    color: #eeeeee;
    position: relative !important;
    background: #1fa0e4;
    background: -webkit-linear-gradient(#1fa0e4, #1992d1);
    background: -moz-linear-gradient(#1fa0e4, #1992d1);
    background: -o-linear-gradient(#1fa0e4, #1992d1);
    background: -ms-linear-gradient(#1fa0e4, #1992d1);
    background: linear-gradient(#1fa0e4, #1992d1);
}
#mainNav > ul > li.open > a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #1682ba;
}
#mainNav > ul > li:last-child > a,
#mainNav > ul > li.last > a {
    border-bottom: 1px solid #1682ba;
}
.holder {
    width: 0 !important;
    height: 0 !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}
.holder::after,
.holder::before {
    display: block !important;
    position: absolute !important;
    content: "" !important;
    width: 6px !important;
    height: 6px !important;
    right: 20px !important;
    z-index: 10;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.holder::after {
    top: 17px !important;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
}
#mainNav > ul > li > a:hover > span::after,
#mainNav > ul > li.active > a > span::after,
#mainNav > ul > li.open > a > span::after {
    border-color: #eeeeee;
}
.holder::before {
    top: 18px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-color: inherit;
    border-left-color: inherit;
}
#mainNav ul ul li a {
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    font-size: 13px;
    color: #eeeeee;
    background: #49505a;

}
#mainNav.type1 ul li ul.submenu li a {
    text-decoration: underline !important;
    font-style: italic;
    padding: 20px 0px;
    font-size: 36px;
}
#mainNav.type1 ul li ul.submenu li {
    display: block;
    text-align: left;
    margin-left: 11px !important;
    text-transform: none;
    margin: 0px 0px;
    padding: 0;
}
#mainNav ul.submenu > li{
    padding: 7px 0px !important;
}
#mainNav ul ul li:hover > a,
#mainNav ul ul li.open > a,
#mainNav ul ul li.active > a {
    background: #424852;
    color: #ffffff;
}
#mainNav ul ul li:first-child > a {
    box-shadow: none;
}
#mainNav ul ul ul li:first-child > a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#mainNav ul ul ul li a {
    padding-left: 30px !important;
}
#mainNav > ul > li > ul > li:last-child > a,
#mainNav > ul > li > ul > li.last > a {
    border-bottom: 0 !important;
}
#mainNav > ul > li > ul > li.open:last-child > a,
#mainNav > ul > li > ul > li.last.open > a {
    border-bottom: 1px solid #32373e;
}
#mainNav > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 0;
}
#mainNav ul ul li.dynamic-children > a::after {
    display: block !important;
    position: absolute !important;
    content: "";
    width: 5px !important;
    height: 5px !important;
    right: 20px !important;
    z-index: 10;
    top: 11.5px;
    border-top: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#mainNav ul ul li.active > a::after,
#mainNav ul ul li.open > a::after,
#mainNav ul ul li > a:hover::after {
    border-color: #ffffff;
}
#mainNav .mobile-icon-menu-develop {
    height: 100px;
    width: 100px;
    margin-top: -23px;
    float: right;
}
/** HEADER MENU **/
.header-mobile-menu {
    background-color: #99cc33;
    height: 70px;
    padding: 6px;
}
.header-mobile-menu {
    background-color: #99cc33;
    height: 70px;
    padding: 6px;
}
.header-mobile-menu label {
    font-size: 3.2em;
    text-transform: uppercase;
    color: #336633;
    font-style: italic;
    font-weight:bold;
    margin-left: 10px;
    margin-top: 10px;
}
.header-mobile-menu img{
    height: 80px !important;
    width: 80px !important;
    margin-right: 27px;
    margin-top: -4px;
    float: right;
}
.headerNav {
    height: 110Px;
    margin: 40px 0px;
}
#header .rightPart{
	float:left !important;
	width:100%;
}
#header {
    margin: 0px 12px auto !important;
    padding: 10px 0;
} 
.clear{
    clear:both;
}
/** SLIDER **/
#diaporamaMobile .rhino-container, #diaporamaMobile, #slider, #slider ul{
    height:310px !important;
    width:100% !important;
}
#slider{
    list-style-type: none;
}
#slider ul{
    padding: 0px;
}

#slider .content {
    text-align: left;
    margin: auto 17% !important;
}

#slider li.grains{
    background-color: #fdcb26;
}
#slider li.logistique{
    background-color: #98ccff;
}
#slider li.distribution{
    background-color: #b0ca08;
}

#slider .content .title {
    font-size: 2em;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: -4px;
}
#slider .content.grains .title{
    color: #f98101 !important;
}
#slider .content.logistique .title{
    color: #5ca3ff !important;
}

#slider .content.distribution .title{
    color: #2b7c05 !important;
}

#slider .content button {
    padding: 10px 10px;
    height: 71px;
    /* margin-top: -196px; */
    position: relative;
    display: inline-block;
    width: 350px;
    border: 0px !important;
    font-weight: bold;
    font-size: 2.47em;
}
#slider .content.grains button{
    background-color: #f98101;
    color: #fdcb26 !important;
}
#slider .content.logistique button{
    background-color: #5ca3ff;
    color: #98ccff !important;
}
#slider .content.logistique button {
    color: #98ccff !important;
}
#slider .content.distribution button{
    background-color: #2b7c05;
    color: white !important;
}
#slider .content.distribution a,
#slider .content.logistique a,
#slider .content.grains a{
    color: white !important;
}

#slider .content button img {
    width: 18px !important;
    height: 35px !important;
    padding: 0px !important;
    float: none !important;
    margin-left: 59px;
    vertical-align: middle;
}
#slider .content .subtitle {
    font-size: 3.2pc;
    font-weight: 300 !important;
    line-height: 55px;
    display: inline-block;
    float: left;
    color: white !important;
    margin: 10px 0;
}
#slider .content img {
    width: auto;
    padding: 39px 14px;
    float: left;
    height: auto;
}
#slider .grains img{
	height: 206px !important;
}
#slider .logistique img {
	height: 180px !important;
}
#slider .distribution img {
    height: 130px !important;
}
#diaporamaMobile .rhino-prev{
    background: url("/_layouts/15/images/FNA_Mobile/arrow_left.png") no-repeat;
    background-position: 15px;
    display: block !important;
}
#diaporamaMobile .rhino-next{
    background: url("/_layouts/15/images/FNA_Mobile/arrow_right.png") no-repeat;
    background-position: 15px;
    display: block !important;
}
/** FOOTER **/
    .footer-mobile-menu{
	    background-color: #3f9c35;
	    bottom: 0;
    }
    footer{
	    padding: 0px 0px;
	    background-color: #f5f5f5;
	    height: 500px;
        font-size: 2.3em !important;
    }
    .info-footer {
        text-align: left;
        float: left;
        display: inline-block;
        margin-top: 53px;
        margin-left: 31px;
        color: black;
    }
    .info-footer h4{
	    margin-bottom: 2px !important;
        text-transform: uppercase;
        color: black !important;
        font-size:35px;
    }
    footer .socialLinks li{
	    float: none !important;
    }

    label.lbl_end_footer {
        float: right;
        text-align: right;
        margin-top: 20px;
        margin-right: 5px;
        font-size: 30px;
        color: white;
        font-style: italic;
    }
    .lbl_end_footer a{
	    color: white;
    }
/** SEARCH **/
    #mainSearch {
        height: 50px;
        padding: 25px 17px;
    }
    #searchInputBox,
    #searchInputBox .ms-srch-sb {
        width: 100%;
        height: 122px;
        margin-bottom: 10px;
    }
    #searchInputBox .ms-srch-sb > .ms-srch-sb-searchLink {
        float: right;
        background-image: url("/_layouts/15/images/FNA_Mobile/sprite_mobile.png") !important;
        width: 110px;
        height: 110px;
        margin-top: 0px;
        background-position: -94px -100px !important;
        /* margin-right: 24px; */
    }
    #searchInputBox .ms-srch-sb > input {
        float: left;
        font-size: 38px;
        width: 80%;
        height: 100px;
    }
/** ACCES RAPIDE */
    .menuFooter .links{
	    display:none;
    }
    .menuFooter ul{
	    list-style-type: none;
    }
    .menuFooter ul.list-parent{
	    text-align:left;
	    padding: 10px;
    }
    .menuFooter .level-parent{
	    margin: 3px 0px;
	    background-color: #3f9c35;
    }
    .menuFooter .level-parent ul.links li{
        padding: 4px 0 10px 6px !important;
    }
    .menuFooter .level-parent ul.links li a {
        font-size: 36px;
        padding: 8px 32px;
        color: white !important;
        margin: 10px;
        font-style: italic;
        text-decoration: underline;
    }
    .menuFooter ul.list-parent li h4 {
        font-size: 3.5em;
        padding: 20px;
        margin: 0px !important;
        color: white !important;
        text-transform: uppercase;
    }
    .menuFooter h3 {
        color: #999 !important;
        font-weight: bold;
        border-bottom: 1px dotted #999;
        font-size: 50px !important;
    }
    .menuFooter .mobile-icon-menu-develop {
        height: 100px;
        width: 100px;
        float: right;
        margin-top: -20px;
    }

/** FNA ACCUEIL ESPACE DOMAINE 3 COLONNES **/

    .span.span8{
	    width:100% !important;
    }
    .pageContent.annuaire{
	    padding:10px;
    }
    .pageContent.annuaire a#NameFieldLink,
    .pageContent.annuaire td {
        font-size: 30px;
    }
    .pageContent.annuaire li#PagingImageLink {
        display: none !important;
    }
    .span.span4.last,
    .contentSide .print{
	    display: none;
    }
    .pageInner{
	    width: 100% !important;
    }
    .image_entete img,
    .description{
	    width:100% !important;
	    padding: 0px 20px;
    }
    .bloc-chiffrecles-Asavoir{
	    background-color: #f5f5f5;
    }
    .postsList .preview {
        font-size: 37px;
    }
    .postsList .date{
        font-size: 24px;
    }
    .postsList .date img {
        width: 70px !important;
    }
/** FNA ACCUEIL 3 COLONNES **/
    #contentAccueilFNAPageLayout .bloc_video_connectee,
    #contentAccueilFNAPageLayout .bloc_direct_fc2A{
	    display:none !important;
    }
    #contentAccueilFNAPageLayout .bloc_Actualite .span.span4,
    #contentAccueilFNAPageLayout .bloc_Actualite			
    {
	    width: 100% !important;
    }
    #contentAccueilFNAPageLayout .bloc_Actualite header{
	    margin: 50px 0px 0px 0px !important;
    }
    #contentAccueilFNAPageLayout .bloc_Actualite .medias .button {
        width: 100% !important;
        text-align: left !important;
        height: 80px;
        font-size: 3.0em;
        line-height: 2;
        margin-top: 10px;
    }
    .medias a {
        height: 80px;
        font-size: 45px !important;
        padding: 0px;
        line-height: 1.4;
    }

/** FNA ACCUEIL ESPACE DOMAINE 2 COLONNES **/
	/** CONTACT **/
	.span.span8,
	.content > div > div > div > div > div > div,
	.contactForm{
		width:100% !important;
	}
	.contactForm .h1{
		text-align:center;
	}
    .contactForm input[type=submit]{
        margin-right: 171px;
    }
	.last,
	.span.span4{
		display:none;
	}
    .bloc_Actualite.span.span4, 
    .bloc_Actualite .span.span4 {
        display: block;
        text-align: left;
    }
    .bloc_Actualite .h1{
        text-align:left;
        font-size: 50px !important;
    }
    .bloc_Actualite h2 {
        font-size: 50px !important;
    }
    #pageContentSection > header .h1 {
        text-align: left;
        font-size: 75px !important;
        border-top: 1px dotted #ccc !important;
        padding: 27px;
        margin: 61px 0px !important;
    }
	#pageContentSection > header .h1 span{
		margin-left: 3px;
	}
    #pageContentSection img{
        height: auto !important;
    }
    #pageContentSection .content:first-child img {
        width: 100%;
    }
    .content.description img{
        width:100% !important;
    }
    section#pageContentSection .ms-vb img{
        width: initial !important;
    height: initial !important;
    }
    .content.fna_map {
        padding: 10px;
    }
    /* Bow content adhérent style */
    #map #content h1.firstHeading {
        color: green;
        text-align: left;
        font-size: 50px;
    }
    #map #content label,
    #map #content p.contentBoxMap
     {
        text-align: left;
        font-size: 34px;
    }
    section .contentSide{
        width:100% !important;
        margin-left: 0px !important;
    }
/* PARTIE ANNUAIRE */

.orga-regionale, .reseaux-economique {
    background-color: #bababa;
    padding: 33px 0px 0px;
    height: 100px;
    color:white;
    margin: 20px 0px;
    width: 100%;
    font-size: 35px;
}
.voirAnnuaire{
    padding: 55px 0px 0px;
    height: 100px;
    width: 100%;
    font-size: 35px;
    margin: 20px 0px;
    background-color: #999;
}
.voirAnnuaire img, .orga-regionale img, .reseaux-economique img {
    height: auto;
    float: right;
    margin-top: 2px;
    margin-right: 54px;
}


.voirAnnuaire a,
.orga-regionale a,
.reseaux-economique a{
    color:white;
}

ul.annuaire-parent-level {
    list-style-type: none;
    padding: 7px;
    background-color: #f5f5f5;
}
input#kilometers{
    width:100%;
    margin: 50px 0px;
}
#map{
    height: 600px;
    padding:10px;
}

/* PARTIE PAGE METIERS */
div.my-rteElement-Paragraph,
p.my-rteElement-Chapo{
    font-size: 28px;
}
#DeltaPlaceHolderMain .content .ms-rtestate-field img{
    width:100%;
}
.pageContent .content h2{
    font-size: 52px;
}
#pageContentSection > header > div.h1 > span > span {
    font-size: 53px;
    /* padding: 20px 0px; */
}
h1.h2 {
    text-align: left;
}
h3.h2 {
    font-size: 45px;
}
h1.h2 > span {
    font-size: 55px;
    text-align: left;
    font-weight: bold;
    margin-left: 16px;
}
#DeltaPlaceHolderMain .content .ms-rtestate-field > img{
    width: 100% !important;
}
.contentSide.bloc-chiffrecles-Asavoir.content h3 {
    font-size: 50px;
    padding: 0px 45px;
}
.contentSide.bloc-chiffrecles-Asavoir.content p {
    font-size: 35px;
    padding: 0px 45px;
}
/* SOCIAL ICONS */
/* COMMUN */
ul.socialLinks li a{
    background-image:url("/_layouts/15/images/FNA_Mobile/sprite_mobile.png") !important;
    margin-top:20px;
}
#header .fc2aLink {
    background-image: url("/_layouts/15/images/FNA_Mobile/sprite_mobile.png") !important;
    width: 306px !important;
    height: 110px;
    background-position: -291px -417px !important;
    margin: 30px 0 0px -7px !important;
}
#header .separator {
    margin: 47px 15px !important;
    height: 91px !important;
}
/* PARTIE FOOTER MENU */
.rightPart ul.socialLinks li.facebook a {
    width: 85px;
    height: 105px;
    background-position: -261px -239px !important;
}
.rightPart ul.socialLinks li.twitter a {
    width: 105px;
    height: 105px;
    background-position: -349px -239px !important;
}
.rightPart ul.socialLinks li.dailymotion a {
    width: 85px;
    background-position: -478px -244px !important;
    height: 105px;
}
#header .socialLinks{
    float:left !important;
}

/* PARTIE FOOTER PAGE */
ul.socialLinks li.facebook a,
ul.socialLinks li.facebook a:hover {
    width: 100px;
    height: 110px;
    background-position: -245px -100px !important;
}
ul.socialLinks li.twitter a,
ul.socialLinks li.twitter a:hover {
    width: 110px;
    height: 102px;
    background-position: -377px -104px !important;
}
ul.socialLinks li.dailymotion a,
ul.socialLinks li.dailymotion a:hover {
    width: 85px;
    background-position: -532px -109px !important;
    height: 105px;
}
footer ul.socialLinks {
    float: right !important;
    margin-top:52px;
    margin-right: 25px;
}

/** RANGE BAR*/
input[type=range] {
    -webkit-appearance: none;
    background-color: #3f9c35;
    width: 200px;
    height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 79px;
    width: 84px;
    background-image: url("/_layouts/15/images/FNA_Mobile/sprite_mobile.png") !important;
    opacity: 1 !important;
    -webkit-opacity: 1;
	-moz-opacity: 1;
    background-position: -107px -570px !important;
}

input[type="range"]::-ms-thumb{
    -webkit-appearance: none;
    height: 79px;
    width: 84px;
    background-image: url("/_layouts/15/images/FNA_Mobile/sprite_mobile.png") !important;
    opacity: 1 !important;
    -webkit-opacity: 1;
	-moz-opacity: 1;
    background-position: -107px -570px !important;
}
#inputCP{
    width: 100%;
    height: 100px !important;
    padding: 10px 0px;
    font-size: 43px !important;
}
div#searchCP {
    float: right;
    background-image: url("/_layouts/15/images/FNA_Mobile/sprite_mobile.png") !important;
    width: 110px;
    z-index: 1;
    height: 105px;
    margin-top: -110px;
    /* margin-right: 24px; */
    background-position: -100px -104px !important;
    position: relative;
    border: none;
}
/* ANNUAIRE MENU */
.annuaire-menu {
    width: 100%;
    height:150px;
}
.annuaire-menu label {
    text-align: left;
    display: block;
    color: #999 !important;
    font-size: 39px;
    margin-left: 10px;
    padding: 50px 0px;
}
.annuaire-menu div.icon {
    width: 90px;
    z-index: 1;
    float: right;
    height: 120px;
    width: 120px;
    margin-top: -122px;
    margin-right: -6px;
    background-color: transparent;
    border: none;
    background-image: url("/_layouts/15/images/FNA_Mobile/sprite_mobile.png") !important;
}
.annuaire-menu .icon_nonderoule {
    background-position: -102px -416px !important;
}
.annuaire-menu .icon_deroule {
    background-position: -101px -257px !important;
}

#resultRE .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item,
#resultOR .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item{
    padding: 20px;
    background-color: #bababa;
    color: white;
    font-size: 30px;
    border-top: 1px solid white;
}

.distance output { 
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
.distance output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}


/** PAGE ACTUALITEE **/
section .content{
    overflow: initial;
}
.content #TitrePage{
    font-size: 75px !important;
}
.rectangle{
    font-size: 32px !important;
}
/*
#pageContentSection p{
    font-size: 22px;
}*/
#pageContentSection .ms-rtestate-field strong,
#pageContentSection .ms-rtestate-field span
{
    /*font-size: 28px !important; */
    border-spacing: 0px !important;
    width: 100% !important;
    /*line-height: 37.2px !important;*/
}


/** LOADING SPINNER */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/** ANNUAIRE STYLE BOUTONS ORGA REGIONALE & RESEAUX ECONOMIQUE */
.reseaux-economique select,
.orga-regionale select {
   background: transparent;
   width: 100%;
   padding: 0px 174px;
   margin-bottom: 69px;
   line-height: 1;
   color: white;
   border: 0;
   border-radius: 0;
   height: 48px;
   -webkit-appearance: none;
   }
  .reseaux-economique,
  .orga-regionale {
    width: 100%;
    height: 80px;
    overflow: hidden;
    background: url("/_layouts/15/images/FNA_Mobile/arrow_bottom_tall.png") no-repeat #bababa;
    /* border: 0px solid #bababa; */
    background-position-x: 95%;
    background-position-y: 48px;
}
.orga-regionale option,
.reseaux-economique option{
    background-color: green;
}

#titlenegoceid{
    margin-bottom: 77px;
}

/** RESEAUX ECONOMIQUE PAGE STYLE **/
.postsList .cbs-picture3LinesContainer {
    width: 100%;
    max-width: 100% !important;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.postsList .text {
    overflow: initial !important;
    width: 100%;
}

/** PAGE DE RESULTAT RECHERCHE FNA */

a#undefined_itemTitleLink {
    font-size: 47px !important;
    color: #3f9c35 !important;
}
.ms-srch-item-summary{
    font-size:37px !important;
}
.ms-srch-item-path{
    width: 100% !important;
    font-size: 37px !important;
}

/** ACTUALITE PIECE JOINTES */
.contentSide.bloc-chiffrecles-Asavoir.content tr.sqdoc-row img,
#contentPJAndASavoir tr.sqdoc-row img
{
    height:40px !important;
    width: 40px !important;
}
.contentSide.bloc-chiffrecles-Asavoir.content tr.sqdoc-row td,
#contentPJAndASavoir tr.sqdoc-row td 
{
    width: auto !important;
}
.contentSide.bloc-chiffrecles-Asavoir.content .sq-doc-link-cont{
    font-size:32px !important;
}
.contentSide.bloc-chiffrecles-Asavoir.content .sq-doc-link-root,
#contentPJAndASavoir .sq-doc-link-root{
    width: 100% !important;
}
#contentPJAndASavoir .sq-doc-link-root a {
    font-size: 32px !important;
}

/** PROBLEM WHITESPACE */
.ms-webpartPage-root { border-spacing: 0px !important; }
.ms-webpartzone-cell { margin: 0px !important; }

#pageContentSection .ms-rtestate-field strong, #pageContentSection .ms-rtestate-field span {
   /* font-size: 22px !important; */
}
#contentPJAndASavoir h2{
    padding:10px;
    color: green !important;
    font-size: 30px !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
}
#contentPJAndASavoir {
    background-color: #f5f5f5;
    text-align:left !important;
}
