/** Video a la une*/
.mainUneVideo
{
    max-width: 293px;
    z-index: 3;
}
.mainUneVideo > a > img
{
    max-width: 285px;
}
/*Slider 15/09 Cacher les 3 points permettant de naviguer */
.rsBullets{
    display: none;
}
/*composant fil d'ariane */
#breadcrumb
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color white white;
    border-image: none;
    border-right: 2px solid white;
    border-style: none solid solid;
    border-width: 0 2px 2px;
    position: relative;
    text-transform: uppercase;
    z-index: 3;
}
#breadcrumb.type1 {
    display: inline-block;
}
/* hide separator before root node */
.my-breadcrumbRootNode > .s4-breadcrumb-arrowcont {
    display: none;
}

ul.my-breadcrumb ul, 
ul.my-breadcrumb li {
    display: inline;
    margin-left: -20px;
}

/* spacing around separator arrow */
.s4-breadcrumb-arrowcont {
    padding-left: 5px;
}

    /* fix separator img alignment */
    .s4-breadcrumb-arrowcont > span.s4-breadcrumb {
        display: inline !important;
        overflow: auto !important;
        position: static !important;
    }

        /* fix separator img alignment */
        .s4-breadcrumb-arrowcont > span.s4-breadcrumb img {
            position: static !important;
        } 


/*composant d'edition*/
.ms-wpadder-cell {
    text-align: left;
}
#contentBox 
{
    margin-left: 0px;
    margin-right: 0px;
    min-width: 400px;
    min-height: 400px;
}
/*barre supérieur contennant suiteBarLeft[SharePoint Yammer OneDrive Sites] Le menu suiteBarRight[Sharepoint]*/
#suiteBarLeft 
{
    display: table-row;
    height: 30px;
}
#suiteBarLeft, #suiteBarRight {
    display: table-cell;
    line-height: 0;
}
/*barre supérieur contennant PARCOURIR, PAGE , PARTAGER etc*/
#s4-ribbonrow
{
    height: 35px;
}

ms-navedit-editLinksText span
{
    display: inline;
    font-size:smaller;
}

submenu multi
{
    display: inline;
    font-size:smaller;
    border-color:white;
}

/**TOPNAVIGATION */
#DeltaTopNavigation
{
    display: inline; 
    position:absolute;
    float:left;
    background-color: #3f9c35!important;
    width: 100%;
}
#DeltaTopNavigation ul.root.ms-core-listMenu-root.static > li.static span 
{
    /*white-space: nowrap;*/
    margin-right:5px;
    text-decoration: none;
    font-weight:300;
    color:white;
}
#DeltaTopNavigation >  ul > li a:hover{
    text-decoration: none;
    font-weight:normal; /**on enleve le gras sur les liens du menu*/
}
#DeltaTopNavigation ul.root.ms-core-listMenu-root.static > li.static span.ms-navedit-editSpan 
{
    /**boite de modification des liens du menu*/
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    white-space: normal;
    display:none;
}
#mainNav.type1
{
    display: inline-block; 
    background-color: #3f9c35!important;
       margin-bottom: 0px;
    height: 60px;
}
#mainNav
{
    display: inline; 
}
#mainNav ul li a {
    padding: 15px 0px;
}
/** boite de recherche */
#mainSearch
{
    background-color: #3f9c35!important;
}
#DeltaPlaceHolderSearchArea
{
    background: none repeat scroll 0 0 #3f9c35!important;
}
.ms-mpSearchBox {
    width: 100%;
}
.ms-srch-sb > input 
{
    font-size: 13px;
    line-height: 18px;
    font-style: italic;
    width: 175px;
    padding: 7px 40px 10px 10px;
    border: 0;
    background-color: white;
}
.ms-srch-sb > input:focus {
    outline: 0;
}

.ms-srch-sbLarge {
    display: inline-block;
    z-index: 1001;
    /* background-color: #fff; */
    /* background-color: rgba( 255, 255, 255, 0.85 ); */
   
    height: 35px;
}
.last .ms-srch-sbLarge {
    display: inline-block;
    z-index: 1001;
    /* background-color: #fff; */
    /* background-color: rgba( 255, 255, 255, 0.85 ); */
    border: 18px solid #3f9c35;
    max-width: 250px;
    height: 35px;
}
.ms-srch-sb-border:hover {
         height: 35px;
}
.last .ms-srch-sb-border:hover {
       border: 18px solid #3f9c35;
    max-width: 250px;
    height: 35px;
}
.ms-srch-sb-border ,.ms-srch-sb-borderFocused {
       /* border: 18px solid #3f9c35; */
       /* max-width: 250px; */
       height: 35px;
}
.last .ms-srch-sb-border, .last .ms-srch-sb-borderFocused {
    border: 18px solid #3f9c35;
    max-width: 250px;
    height: 35px;
}


.ms-floatLeft {
    float: left;
    /*max-width: 260px;*/  }
.ms-srch-sb {
    display: inline-block;
    background-color: white;
}
.ms-srch-sb-searchLink {
    
    background-image: url('../../images/FNA.FC2A/sprite.png?v=003');
    background-repeat: no-repeat;
    -webkit-transition: all 0s ease-out!important;
    -moz-transition: all 0s ease-out!important;
    -o-transition: all 0s ease-out!important;
    transition: all 0s ease-out!important;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-position: 0 -30px;
    border: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#searchImg {
    content:url('../../images/FNA.FC2A/sprite.png?v=003');
    display: none;
}

/** bas de page footer */
#footerInfos >  ul > li a{
    list-style: none;
    text-decoration: none;
    background-color: #f5f5f5;
    color: #999;

}
#footerInfos >  ul > li a:hover{
    text-decoration: underline ;
    /*color: #666;*/
    font-weight:normal !important;
}
.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item {
margin-right:0px;
}
.ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
    padding-right:0px;
}
ul.dynamic.submenu.multi {
    border:none!important;
}
h4, .ms-h4{
   color:#999 !important;
   font-weight: normal;
}

/************************************Style Navifgation (SMB)***********************************************/
#DeltaTopNavigation a.dynamic-children span.additional-background,
#DeltaTopNavigation span.dynamic-children span.additional-background {
    background-image: none;
}
/*************************************Style Espace Medias WebPart*****************************************/
.linksSelect ul li a {
    display: block;
    line-height: 20px;
    color: white;
}

.linksSelect:hover:after {
    background-position: -361px -19px;
}

.button:hover i.pNext, button:hover i.pNext, input[type=submit]:hover i.pNext {
    background-position: -348px -63px;
}

a.button:visited {
    color: #999;
}

.linksSelect:hover {
    color: white;
    background: #999;
}


/* 
*********************************************************************************************************
    CSS FOR PRINT
*********************************************************************************************************    
*/
@media print 
{ 
    body 
    {
        margin: 0; 
        float: none;
        width: auto!important;
        margin: auto!important;
    }

    /* Remove unwanted elements */
    #nav, #mainNav, #footer, #mainSlider, #suiteBar, #globalNavBox, #notificationArea, #DeltaTopNavigation, #mainSearch, #accountButton
    {
        display: none;
    }
    /* Remove social icons links */
    .socialLinks
    {
        display: none;
    }
    /* supprime la derniere colonne comportant les éléments communs */
    .span.span4.last
    {
        display: none;
    }
    .span.span8 {
        width:100%;
    }
    /* Ensure the content spans the full width */
    #mainContent
    {         
        margin: 0; 
        float: none;
        margin-top:0px; /*on supprime le Décalage vers le haut du contenu, par-dessus le slider*/ 
    }
    .print {
        margin-top:-40px;
    }
/*.h1 { display:none;    }
.h2  { display:none;    }
  
#breadcrumb  { display:none;    }*/

    a[href]:after {
      /* content: " (" attr(href) ")"; affichage des URL des liens */
    }
    /****************sharepoint section****************/
    .ms-WPBody, .ms-webpart-zone
    {
        display:block;
    }
    #DeltaPlaceHolderMain
    {
        width: 100%; 
        margin: 0; 
        float: none;
    }
    #s4-topheader2, #s4-titlerow, #s4-statusbarcontainer { visibility: hidden; display:none; }

    ms-leftareacell,.ms-globallinks,.ms-siteaction,.ms-areaseparatorleft,.ms-rightareacell,.ms-areaseparatorright,
    .ms-areaseparatorcorner,.ms-titlearealeft,.ms-titlearearight,.ms-searchform,.ms-banner,.ms-buttonheightwidth,.ms-buttonheightwidth2{
        display:none;
        visibility:visible;
    }
    .ms-bannerframe   {display :none; visibility:hidden }
    .ms-nav   {display :none; visibility:hidden }
     
     
    /****************sharepoint section****************/
    
}
/*Correction hover Panel*/
.ms-srch-hover-outerContainer {
left:560px!important;
}




tr.sqdoc-row {
    position: relative;
    z-index: 2;
}

div.contentSide {
    margin-top: 20px;
}

div.content {
    margin-top: 20px;
}


/* Style PAge Annuaire adhérents*/
.negoce .content,.annuaire .content {
margin-top: 0px;
}
/* 
*********************************************************************************************************
    END
*********************************************************************************************************    
*/